# Dependency directory
node_modules

# Sass cache directory
.sass-cache
app-sass-cli/.sass-cache
app-sass-cli/app-sass/.sass-cache

# Convert files
app/*.js
app/*.js.map
app/components/*.js
app/components/*.js.map
app/config/*.js
app/config/*.js.map
app/modules/*.js
app/modules/*.js.map
app/services/*.js
app/services/*.js.map